body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  overflow: hidden;
}

.gallery-image {
  border: none;
  width: 360px;
  height: 200px;
  display: block;
}

.gallery-image:hover {
  width: 376px;
  height: 208px;
}
